= simple_format(answer.content)
= render '/shared/user', object: answer, edit_path: edit_learn_course_question_answer_path(answer.question.course, answer.question, answer), delete_path: learn_course_question_answer_path(answer.question.course, answer.question, answer)
