%a{:id => "#{dom_id(answer)}"}
.sub-post
  - if answer.status == 'open'
    = bazido_code_format(answer.content)
    = render '/shared/user', object: answer, edit_path: edit_learn_course_question_answer_path(answer.question.course, answer.question, answer), delete_path: learn_course_question_answer_path(answer.question.course, answer.question, answer)
  
  - else
    .deleted-block
      Response removed
      .reason
        = answer.reason
    - if can?(:moderate, answer) && ['closed'].include?(answer.status)
      = link_to 'Edit', edit_learn_course_question_answer_path(answer.question.course, answer.question, answer)
