- if ['new', 'create', 'edit', 'update'].include?(action_name)
  %h5
    = answer.question.title

- if answer.id == nil
  - form_path = learn_course_question_answers_path(answer.question.course, answer.question)
- else
  - form_path = learn_course_question_answer_path(answer.question.course, answer.question, answer)

= simple_form_for answer, url: form_path  do |f|

  = render '/shared/form_errors', f: f

  = f.input :content, label: false

  - if can?(:moderate, answer)
    = f.input :status, collection: Learn::Answer.statuses(true), include_blank: false
    = f.input :reason, label: 'The reason'

  - if action_name == 'edit'
    = f.button :submit, 'Update Post'
  - else
    = f.button :submit, 'Post'
