.about-user 
  .row
    .small-24.columns
      .title
        = "#{h(academic.code)} #{h(academic.name)}"
        - if academic.institution
          %span.position
            = ", #{h(academic.institution)}" 
    .small-24.columns
      = "#{h(academic.commence)} - #{h(academic.graduation)}"
    .small-24.columns
      .quick-description
        = simple_format(h(academic.comment))
