- cache f.object do
  .nested-fields
    = f.input :id, :as => :hidden
    = f.input :institution
    = f.input :department
    = f.input :code
    = f.input :name
    = f.input :commence
    = f.input :graduation
    = f.input :comment
    = link_to_remove_association "Delete", f, class: 'tiny button alert'
