%table{:width => '100%'}
  %thead
    %tr
      %th
        Balance
      %th
        Outstanding
      %th
        Will be Left
  %tbody
    %tr
      %td{:title => 'The money in you account to pay of adverts'}
        = number_to_currency(user.balance, unit: '$')
      %td{:title => 'The cost for the adverts you have waiting to be activated'}
        = number_to_currency(user.owes, unit: '$')
      %td{:title => 'The money left if you paid for all your adverts'} 
        = number_to_currency(user.credits, unit: '$')
