- cache payment do
  %tr
    -# %td
      = payment.id
    %td
      = number_to_currency(payment.amount, unit: '$')
    %td
      = payment.created_at.strftime('%d %B %Y')
    %td
      = payment.created_at.strftime('%H:%M')
