.advertisements
  %h4
    Total
  = render '/advertise/payments/balance', user: current_user
  %hr

  %h4
    Advertisements
  = render '/advertise/shared/costs', klass: Advertise::Advertisement, user: current_user
.advertisements
  %h4
    Sponsors
  = render '/advertise/shared/costs', klass: Advertise::Sponsor, user: current_user

  %hr
  %h4
    Payments
  = render '/advertise/payments/table', payments: @payments 

.pagination
  = paginate(@payments)
