-# = form_tag messages_path, method: :post do 
-#   = label 'message[title]', 'Title'
-#   = text_field 'message[title]', nil

-#   = label 'response[content]', 'Message'
-#   = text_area 'response[content]', nil

-#   = submit_tag 'Send', class: 'tiny primary button'

.message-form
  = simple_form_for [messageable, message] do |f|
    = render '/shared/form_errors', f: f

    = f.input :title
    = f.simple_fields_for :responses do |response_builder|
      = response_builder.input :content, label: 'Message'

    = f.button :submit, 'Private Message'
