.row.index-message{class: message_read_class(message)}
  .small-24.medium-24.columns
    %a{href: message_path(message)}
      .row
        .user.medium-3.small-24.columns{title: 'Creator'}
          = user_refresh_name(message.user.profile)
        .title.medium-15.small-23.small-offset-1.columns
          = h(message.title)
        .message-time.medium-5.small-24.columns
          = message.updated_at.strftime('%e %b \'%y at %H:%M')
