- if !messageable.kind_of?(User)
  %h5
    About
  = link_to messageable.title, messageable

- else
  %h5
    PM:
    = "#{messageable.profile.full_name} "
    - if messageable.profile.username.present?
      = link_to "@#{messageable.profile.username}", messageable
