- if @messages.length > 0
  .messages
    .row
      .small-24.columns 
        = render partial: '/messages/index_message', collection: @messages, as: 'message'
    .row
      .small-24
        .pagination
          = paginate @messages

- else
  .empty-list
    You don't have any messages
