.row
  .large-offset-14.large-8.medium-12.medium-offset-10.columns
    %h4 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_sign_up_error_messages!
      - resource.build_profile if resource.profile.nil?
      = f.fields_for :profile do |fg|
        .field
          = fg.label :original_institution_website, t('view.devise.registrations.new.original_institution_website')
          -# %br/
          = fg.text_field :original_institution_website, autofocus: true, placeholder: 'eg. www.up.ac.za'
        .field
          = fg.label :full_name
          -# %br/
          = fg.text_field :full_name
      .field
        = f.label :email
        -# %br/
        = f.email_field :email
      .field
        = f.label :password
        -# %br/
        = f.password_field :password, autocomplete: "off", title:"#{ @minimum_password_length} characters minimum"
      %div
        Agree to 
        = link_to 'terms and conditions', terms_and_privacy_path, target: '_blank'
        \#{check_box 'user', 'terms_and_conditions'}
      .actions
        = f.submit t('devise.buttons.sign_up'), :id => 'user_submit', :class => 'button'

    = render "devise/shared/links"
