.about-user
  .row
    .small-24.columns
      .title
        = "#{h(employment.company)}"
        %span.position
          = ", #{h(employment.position)}"
    .small-24.columns
      = "#{h(employment.start_date.strftime('%b %Y'))} - "
      - if employment.current_employer
        Present
      - else
      = "#{h(employment.end_date.strftime('%b %Y'))}"
    .small-24.columns
      = h(employment.location)

    .small-24.columns
      .quick-description
        = simple_format(h(employment.description))
