- cache f.object do
  .nested-fields
    = f.input :company
    = f.input :position
    = f.input :location
    = f.input :current_employer, input_html: { title: 'Will ignore the end date'}
    .row
      .small-10.columns
        .date
          = f.date_select :start_date, :start_year => 75.years.ago.strftime('%Y').to_i, :end_year => 5.years.from_now.strftime('%Y').to_i, discard_day: true, order: [:month, :year], label: 'Hello'
      .small-1.columns
        \-
      .small-11.columns
        .date
          = f.date_select :end_date, :start_year => 75.years.ago.strftime('%Y').to_i, :end_year => 5.years.from_now.strftime('%Y').to_i, discard_day: true, order: [:month, :year], :allow_blank => true, label: 'World'
    = f.input :description
    = link_to_remove_association "Delete", f, class: 'tiny button alert'
