= prepend :sub_menu do
  .sub_menu
    %ul
      %li
        = link_to '+Book', new_market_book_path, :class => 'tiny radius button'
      %li
        = link_to '+Accommodation', new_market_accommodation_path, :class => 'tiny radius button'
