= render '/layouts/market/left_menu'
= render '/layouts/market/sub_menu'
= render '/layouts/market/side_bar'

= append :head do
  = javascript_include_tag "market/application"
  = stylesheet_link_tag    "market/application"

-# = prepend :content do
  -# %hr

= render template: "layouts/application"
