.nested-fields.refresh-image
  = image_tag f.object.display.try(:url, :small), :id => get_refresh_image_id(f), :class => 'refresh-upload-preview'
  = f.input :id, :as => :hidden
  = f.input :display, :label => false, :input_html => {:onchange => "ImageLibrary.readUrl(this,'#{get_refresh_image_id(f)}');"}
  = link_to_remove_association '&times;'.html_safe, f, class: 'close'
