.advertisable
  .title
    Advertisement:
  .inner-advertise
    %a{href: redirect_path(url: advertisement.link), target: :_blank}
      .show-for-medium-up
        .display
          = image_tag advertisement.display.url(:small), alt: h(advertisement.alternative_text)
