= simple_form_for advertisement do |f|
  = f.input :title, label: 'Title (For your convience)'
  = f.input :link, label: 'Link to (When clicked)'
  %label
    Desktop/Tablet
  = image_tag f.object.display.url(:small)
  = f.input :display, as: :file, label: false
  -# %label
  -#   Mobile
  -# = image_tag f.object.display_mobile.url(:small)
  -# = f.input :display_mobile, as: :file, label: false, input_html: {title: 'Is shown for mobile users'}
  = f.simple_fields_for :displays do |display_builder|
    = render '/advertise/displays/display_fields', f: display_builder
  .links
    = link_to_add_association 'Add', f, :displays, partial: '/advertise/displays/display_fields'

  = f.button :submit
