%ul.controls

  - if action_name != 'joined' && controller_name == 'courses' && action_name == 'index'
    - if can?(:destroy, course)
      %li
        = link_to 'Delete',course, method: :destroy, data: {confirm: 'Are you sure?'}

    - if can?(:edit, course)
      %li
        = link_to 'Edit', [:edit, course]

  - if course.attendees.where(user_id: current_user.id).limit(1).any?
    - if can?(:leave, course)
      %li
        = link_to 'Leave', leave_learn_course_path(course)
  - else
    - if can?(:join, course)
      %li
        = link_to 'Join', join_learn_course_path(course)
  .clear
.clear
