.row
  .small-24.columns{title: "#{course.code} - #{course.name}"}
    = truncate("#{course.code} - #{course.name}", length: 56)
  .small-24.columns
    = render '/learn/courses/controls', course: course
