= simple_form_for course do |f|

  = render '/shared/form_errors', f: f

  - if disabled == true && !current_user.is_admin?
    = f.input :code, disabled: true, input_html: {:placeholder => 'ABC 101'}
  - else
    = f.input :code, input_html: {:placeholder => 'ABC 101'}
    = f.input :name, input_html: {:placeholder => 'Introduction to varsity'}

  = f.button :submit
