- if @courses.any?
  = render partial: '/learn/courses/index_course', collection: @courses, as: 'course'
- else
  .empty-list
    There are no courses. Add one and invite people to join.
= paginate @courses
