.top-margin
- if @courses.any?
  = render partial: '/learn/courses/index_course', collection: @courses, as: 'course'
- else
  - if @user.id != current_user.id
    - begin_sentence = "#{@user.profile.fullname} is"
  - else
    - begin_sentence = "You are"
  .alert-box
    = "#{begin_sentence} not part of any courses at this time"

= paginate @courses
