%a{:id => "contact_#{contact.id}"}
.row
  .small-24.columns
    .contact
      - if action_name == 'index'
        %hr
        %h3.internal_name
          = h(contact.private_name)
      .name.label
        = h(contact.name)
      .content
        = h(contact.content)
      .clear

      - if action_name == 'index'
        .actions
          .delete
            - if can? :destroy, contact
              = link_to 'Delete', contact, method: :delete, data: {:confirm => 'Are you sure?'}, :class => 'tiny alert button'
            - if can? :update, contact
              = link_to 'Edit', [:edit,contact, :anchor => dom_id(contact)], :class => 'tiny button'
