= simple_form_for contact do |f|
  - if contact.present? && contact.errors.any?
    %ul
      - contact.errors.full_messages.each do |msg|
        = msg

  = f.input :private_name, :label => 'Private name (Only seen by you)'
  = f.input :name
  = f.input :content
  = f.button :submit

