%a{:id => "contact_#{contact.id}"}
  - if action_name == 'index'
    = h(contact.private_name)
    = h(contact.name)
    = h(truncate(contact.content, 35))

  - if action_name == 'index'
    - if can? :destroy, contact
      = link_to 'Delete', contact, method: :delete, data: {:confirm => 'Are you sure?'}, :class => 'tiny alert button'
    - if can? :update, contact
              = link_to 'Edit', [:edit,contact, :anchor => dom_id(contact)], :class => 'tiny button'
