- if @contact.present?
  = render '/market/contacts/form', contact: @contact
- else
  = render '/market/contacts/form', contact: Market::Contact.new


%h4
  Contacts are only seen by you as a list

= render_contacts(@contacts)

