- if question.id != nil
  - the_path = learn_course_question_path(course, question)
- else
  - the_path = learn_course_questions_path(course)

= simple_form_for question, url: the_path do |f|


  = render '/shared/form_errors', f: f

  = f.input :title
  = f.input :category, include_blank: false, collection: Learn::Question.categories(true)
  = f.input :content

  - if can? :moderate, question
    = f.input :status, collection: Learn::Question.statuses(true), include_blank: false
    = f.input :reason

  - if action_name == 'new'
    = f.button :submit, 'Create Post'
  - else
    = f.button :submit, 'Update Post'
