.post-index-row
  .row
    .small-3.columns.center-content
      .row
        .small-24.columns
          0
        .small-24.columns.small-label-text
          Votes
      .row
        .small-24.columns
          = question.answers.count
        .small-24.columns.small-label-text
          Answers

    .small-21.columns
      .row
        .small-24.columns
          %h5.title
            = link_to question.title, learn_course_question_path(question.course, question), class: 'title'
      .row
        .small-24.columns.content-preview
          = bazido_preview_format(question.content)
        .small-24.columns
          %a.course-tag{href: learn_course_path(question.course)}
            = "#{h(question.course.code)}"
          %a.course-tag{href: learn_course_questions_path(question.course, category: question.category)}
            = "#{h(question.category.humanize)}"
          .clear

  = render '/shared/user', object: question, edit_path: edit_learn_course_question_path(question.course, question), delete_path: learn_course_question_path(question.course, question)
