%h4.title
  = question.title

.post
  = bazido_code_format(question.content)

= render '/shared/user', object: question, edit_path: edit_learn_course_question_path(question.course, question), delete_path: learn_course_question_path(question.course, question)

%h5.sub-posts-count
  = "#{pluralize(question.answers.where(status: 'open').count, 'response')}"
- if question.answers.any?
  .sub-posts
    = render partial: '/learn/answers/comment', collection: question.answers, as: 'answer'

  .sub-post-form
    = render '/learn/answers/form', answer: @answer
- else
  .empty-list
    There are no responses yet

