.row
  .large-offset-5.large-14.medium-16.medium-offset-4.columns
    %h4 Resend unlock instructions
    = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      = f.full_error :unlock_token
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, "Resend unlock instructions"
    = render "devise/shared/links"
