- cache object do
  - if  defined?(edit_path) != nil
    - if can? :edit, object
      = link_to 'Edit', edit_path
      |
  - if  defined?(delete_path) != nil
    - if can? :destroy, object
      = link_to 'Delete', delete_path, method: :delete, data: {confirm: 'Are you sure?'}


  = image_tag object.user.profile.avatar(:small)
  = link_to h(truncate(user_refresh_name(object.user.profile), length: 18)), object.user, :title => h(object.user.profile.full_name)
  = object.created_at.strftime('%e %b \'%y at %H:%M')
