%a{:id => "#{dom_id(comment)}"}
.sub-post
  - if comment.status == 'visible'
    = simple_format(h(comment.content))
    = render '/shared/user', object: comment, delete_path: forum_thread_comment_path(comment.cached_thread, comment) # , edit_path: edit_forum_thread_comment_path(comment.thread, comment)
  
  - else
    .deleted-block
      Response removed
      .reason
        = comment.reason
      
