= simple_form_for empty_comment, url: path do |f|

  = render '/shared/form_errors', f: f

  = f.input :content, label: 'Respond'

  - if can? :moderate, empty_comment
    = f.input :status, collection: Forum::Comment.statuses(true), include_blank: false
    = f.input :reason

  = f.button :submit, 'Write it'
