%h4 About us

%p
  We are currently to busy working on the website than to keep this up to date but we will. We still working on our brand and all but we are "With A Straight Face". We will explain this later but thanks for visiting this page even without a link. :-)
