!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{:'http-equiv' => 'refresh', :content => "0;#{h(params[:url])}"}

  %body
    Click 
    = link_to " #{h(params[:url])} ", h(params[:url])
    if you are not redirected.
