- cache do
  %a{id: 'terms'}
  %h3
    Web Site Terms and Conditions of Use
  %h4
    1. Terms
  %p
    By accessing this web site, you are agreeing to be bound by these
    web site Terms and Conditions of Use, all applicable laws and regulations,
    and agree that you are responsible for compliance with any applicable local
    laws. If you do not agree with any of these terms, you are prohibited from
    using or accessing this site. The materials contained in this web site are
    protected by applicable copyright and trade mark law.
  %a{id: 'privacy'}
  %h4
    2. Use License
  %ol{:type => "a"}
    %li
      Permission is granted to temporarily download one copy of the materials
      (information or software) on With A Straight Face's web site for personal,
      non-commercial transitory viewing only. This is the grant of a license,
      not a transfer of title, and under this license you may not:
      %ol{:type => "i"}
        %li modify or copy the materials;
        %li use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
        %li attempt to decompile or reverse engineer any software contained on With A Straight Face's web site;
        %li remove any copyright or other proprietary notations from the materials; or
        %li transfer the materials to another person or "mirror" the materials on any other server.
    %li
      This license shall automatically terminate if you violate any of these restrictions and may be terminated by With A Straight Face at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
  %h4
    3. Disclaimer
  %ol{:type => "a"}
    %li
      The materials on With A Straight Face's web site are provided "as is". With A Straight Face makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, With A Straight Face does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
  %h4
    4. Limitations
  %p
    In no event shall With A Straight Face or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on With A Straight Face's Internet site, even if With A Straight Face or a With A Straight Face authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
  %h4
    Safety and Security
  %p
    With A Straight Face shall not be held responsible for your safety as a producer (posting on the website) or as a consumer (following instructions of content on the website or meeting people who posted accommodation posts). We advise that if you are to meet anyone from this website it be on campus and be aware that not everybody can be trusted, you are responsible for you own safety. This website is meant for people who are 18 years old and above. The sole purpose of this website is to connect students and solve some of the problems that prevent us from working together as students and to improve our lives as students in anyway possible.
  %h4
    5. Revisions and Errata
  %p
    The materials appearing on With A Straight Face's web site could include technical, typographical, or photographic errors. With A Straight Face does not warrant that any of the materials on its web site are accurate, complete, or current. With A Straight Face may make changes to the materials contained on its web site at any time without notice. With A Straight Face does not, however, make any commitment to update the materials.
  %h4
    6. Links
  %p
    With A Straight Face has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by With A Straight Face of the site. Use of any such linked web site is at the user's own risk.
  %h4
    7. Site Terms of Use Modifications
  %p
    With A Straight Face may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
  %h4
    8. Governing Law
  %p
    Any claim relating to With A Straight Face's web site shall be governed by the laws of the State of Limpopo, South Africa without regard to its conflict of law provisions.
  %p
    General Terms and Conditions applicable to Use of a Web Site.
  %h3
    Privacy Policy
  %p
    Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
  %ul
    %li
      Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
    %li
      We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
    %li
      We will only retain personal information as long as necessary for the fulfillment of those purposes.
    %li
      We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
    %li
      Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
    %li
      We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
    %li
      We will make readily available to customers information about our policies and practices relating to the management of personal information.
  %p
    We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
