.refreshable
  %h4.title
    = h(book.title)
  .meta-data
    .label
      Author:
    = h(book.author)
  
  .meta-data
    .label
      ISBN:
    = h(book.isbn)

    .images
      = render_refresh_images(book.refresh.images, :small)

    .description
      = simple_format(h(book.comments))

= render '/market/refreshes/user', refreshable: book, edit_path: [:edit, book], delete_path: book
