= simple_form_for book do |f|
  = f.input :title
  = f.input :edition
  = f.input :author
  = f.input :isbn
  = f.input :courses
  = f.simple_fields_for :refresh do |refresh_builder|
    = render '/market/refreshes/refresh_fields', f: refresh_builder
  = f.input :condition
  = f.input :age
  = f.input :price
  = f.input :comments
  = f.button :submit, :class => 'tiny button'
