= append :side_bar_main_content do
  .book
    .row.side-bar-row
      .status
        .inner-status{:class => render_refresh_status_color(book)}
          - if cannot?(:update, book)
            = render_refresh_status(book)
          - else
            *
            = best_in_place_if can?(:update, book), book.refresh, :status, :as => :select, :collection => get_refresh_collection(book)
    .row.side-bar-row
      .large-10.medium-11.small-8.columns
        .label
          Price:
      .large-14.medium-13.small-16.columns{:title => h(number_to_currency(book.price))}
        .value
          = number_to_currency(book.price)
    .row.side-bar-row
      .large-10.medium-11.small-8.columns
        .label
          Condition:
      .large-14.medium-13.small-16.columns{:title => h(book.condition)}
        .value
          = h(truncate(book.condition, :length => 8))
    .row.side-bar-row
      .large-10.medium-11.small-8.columns
        .label
          Age:
      .large-14.medium-13.small-16.columns{:title => h(book.age)}
        .value
          = h(book.age)
    .row.side-bar-row
      .small-24.columns
        .label
          Courses:
      .small-24.columns{:title => h(book.courses)}
        .value.listed-courses
          = h(book.courses.upcase)
    = render '/market/refreshes/contacts', refreshable: book, the_message_path: market_book_messages_new_path(book)


  -# = render '/market/refreshes/user', refreshable: book, edit_path: [:edit, book], delete_path: book
