= prepend :content_tabs do
  = render '/market/refreshes/filter_bar', index_link: 'market_books_path', search_link: 'search_market_books_path'

- if @books.length > 0
  = render :partial => '/market/refreshes/refreshable', :collection => @books, :as => :refreshable
- else
  No books
.pagination
  = paginate @books
