= prepend :content_tabs do
  = render '/market/refreshes/filter_bar', index_link: 'search_market_books_path', search_link: 'search_market_books_path'

  = render '/market/refreshes/search_form', search_link: 'search_market_books_path', options_array: [['All', 'all'], ['Course', 'course']], search_title: 'Book search...'

  = render partial: '/market/refreshes/refreshable', collection: @books, as: 'refreshable'

  = paginate @books
