// Place all the styles related to the forum/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.comments {

  margin: 20px 0;

  h6, h5, h4, h3, h2, h1 {
    color: $primary-color;
  }

}

.deleted-block {

  padding: 0 10px;
  font-size: 83%;
  border: 1px solid #b5b5b5;
  background-color: #c0c0c0;

  .reason {
    font-size: 77%;
  }
}

.full-comment {

  border: 1px solid #b5b5b5; // #f1f1f1;
  background-color: #fbfbfb;
  p {
    font-size: 87%;
  }

  padding: 4px;
  margin: 8px 0;

  .comment {

    margin-bottom: -25px;
    padding: 0 5px;

    textarea {
      height: 7.5em;
    }
  }

}


