// Place all the styles related to the forum/threads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.category-title {

  text-align: center;
  background-color: #fff;
  color: $primary-color;

  border: {
    style: solid;
    color: $primary-color;
    width: 1px;
  }

  margin: 5px 0;
  padding: 5px;

}

.thread {

  .content {

    p {
      font-size: 99%;
      margin: 7px;
    }

  }

  .thread-post {

    padding: 10px 6px;
    // background-color: #f1f1f1;
    border: {
      style: solid;
      color: #f7f7f7;
      width: 1px 0;
    }

  }

}

.index-threads {

  .unread {

    font-weight: bold;
    & td:first-child::before {
      // background-color: red;
      // content: '*';
      // color: $primary-color;
    }

    a {
      color: $primary-color;
    }
  }

  font-weight: normal;
  a {
    display: block;
    // color: black;
  }

}
