
.row.user-form
  = simple_form_for user do |f|
    .small-24.columns
      = f.simple_fields_for :profile do |profile_builder|
        .basic
          = prepend :top_left_menu do
            .row
              .medium-24.medium-offset-0.small-offset-6.small-12.columns
                .display-picture
                  .show-for-medium-up
                    = image_tag profile_builder.object.avatar.url(:medium), :id => get_profile_image_id(f)
          .show-for-small-only
            = image_tag profile_builder.object.avatar.url(:medium), :id => get_profile_image_id(f)

          .show-for-medium-up
            %label{:for => get_profile_image_id(f)}
              Display picture

          = profile_builder.input :avatar, :label => false, :input_html => {:onchange => "ImageLibrary.readUrl(this,'#{get_profile_image_id(f)}');"}
          .row
            .small-18.columns
              = profile_builder.input :full_name
            .small-6.columns
              = profile_builder.input :gender, :collection => Profile.genders, :include_blank => true
          = profile_builder.input :username
          = profile_builder.input :location, :input_html => {:placeholder => 'Suburb, City, Country'}
          = profile_builder.input :original_institution_website, label: 'Institution website'
          = profile_builder.input :website
          = profile_builder.input :bio
        .basic
          = profile_builder.simple_fields_for :academics do |academic_builder|
            .form
              = render '/academics/academic_fields', f: academic_builder
          .links
            .clear
            = link_to_add_association "Add Academic", profile_builder, :academics, :partial => '/academics/academic_fields'
        .employments
          = profile_builder.simple_fields_for :employments do |employment_builder|
            .form
              = render '/employments/employment_fields', f: employment_builder
          .links
            .clear
            = link_to_add_association "Add Experience", profile_builder, :employments, :partial => '/employments/employment_fields'

      = link_to 'Back', user_path(@user), class: 'secondary button'
      = f.button :submit, t('view.users.form.buttons.update')

