.basic-user-info
  = append :top_left_menu do
    .row.collapse
      .medium-24.columns
        = image_tag user.profile.avatar.url(:medium), class: 'round-image'

  = prepend :side_bar_main_content do
    - if can? :message, user
      .row
        .small-24.columns
          = link_to 'Private Message', user_messages_new_path(user), class: 'expand primary button'

  .row
    .medium-9.columns   
      .field-row
        .row
          .medium-24.columns.label
            Fullname:
          .medium-24.columns.center-text
            = h(user.profile.full_name)
      - if can? :update, user
        .field-row
          .row
            .medium-24.columns.label
              Email:
            .medium-24.columns.center-text
              = h(user.email)
      - if user.profile.gender.to_s.strip != ''
        .field-row
          .row
            .medium-24.columns.label
              Gender:
            .medium-24.columns.center-text
              = user.profile.gender.capitalize
      - if user.profile.username.to_s.strip != ''
        .field-row
          .row
            .medium-24.columns.label
              Username:
            .medium-24.columns.center-text
              = h(user.profile.username)
      - if user.profile.location.to_s.strip != ''
        .field-row
          .row
            .medium-24.columns.label
              Location:
            .medium-24.columns.center-text
              = h(user.profile.location)
      - if user.profile.original_institution_website.to_s.strip != ''
        .field-row
          .row
            .medium-24.columns.label
              Department:
            .medium-24.columns.center-text
              = link_to short_website(user.profile.original_institution_website), user.profile.original_institution_website
      - if user.profile.website.to_s.strip != ''
        .field-row
          .row
            .medium-24.columns.label
              Website:
            .medium-24.columns.center-text
              = link_to short_website(user.profile.website), user.profile.website
    
    .medium-15.columns
      .field-row.bio
        - if user.profile.bio.to_s.strip != ''
          = simple_format(h(user.profile.bio))
        - else
          No bio. Still self searching.

.academics
  %h3
    Academics
  - if user.profile.academics.any?
    = render user.profile.academics # unless user.profile.academics.size == 0
  - else
    .empty-list
      None beyond matric
.employments
  %h3
    Experiences
  - if user.profile.employments.any?
    = render user.profile.employments # unless user.profile.academics.size == 0
  - else
    .empty-list
      No experience

.market.field-row
  %h3
    Market
  - if @refreshables.any?
    .inner-market
      %ul.field-row-list
        - @refreshables[0..3].each do |refreshable|
          -# = render '/market/refreshes/refreshable', refreshable: refreshable
          %li
            = link_to h("#{refreshable.title} - #{get_refresh_type(refreshable)}"), refreshable
      .more
        - if @refreshables.length > 3
          = link_to 'More', market_user_path(user)
        - else
          = link_to 'Market', market_user_path(user)

  - else
    .empty-list
      Nothing posted on the market yet
