%h3
  = "#{h(short_name(@user, false))}'s market posts"
= render '/market/refreshes/filter_bar', user_market_link: true, user: @user
.market
  = render partial: '/market/refreshes/refreshable', as: 'refreshable', collection: @refreshables
.pagination
  = paginate @refreshes
