- cache object do
  .row

    .user-info
      .medium-11.right.columns
        .row.collapse
          .small-5.large-3.columns
            .mini-avatar
              = image_tag object.user.profile.avatar(:small), class: 'mini-avatar-image', alt: 'Avatar'

          .small-19.large-21.columns
            .row.collapse
              .small-24.columns
                .name
                  = link_to h(truncate(user_refresh_name(object.user.profile), length: 18)), object.user, :title => h(object.user.profile.full_name)

              .small-24.columns
                .datetime
                  = object.created_at.strftime('%e %b \'%y at %H:%M')

      .medium-offset-3.medium-10.right.columns
        .user-controls
          - if  defined?(edit_path) != nil
            - if can? :edit, object
              = link_to 'Edit', edit_path
              |
          - if  defined?(delete_path) != nil
            - if can? :destroy, object
              = link_to 'Delete', delete_path, method: :delete, data: {confirm: 'Are you sure?'}

