- advertise_prices = Advertise::Display.advertisement_prices # [5.6, 5.0, 4.6, 4.0]
- sponsor_prices = Advertise::Display.sponsor_prices # [14.0, 12.0, 10.0, 8.0]

.fancy-post

  .row
    .small-24.columns
      %h4
        Advertisement prices
      .row
        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Day
            %li.price
              = number_to_currency(advertise_prices[0], unit: '$')
            %li.description
              Less than 7 days
            %li.bulletin-item

        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Week
            %li.price
              = number_to_currency(advertise_prices[1], unit: '$')
            %li.description
              7+ consecutive days
            %li.bulletin-item

        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Two Weeks
            %li.price
              = number_to_currency(advertise_prices[2], unit: '$')
            %li.description
              14+ consecutive days
            %li.bulletin-item

        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Month
            %li.price
              = number_to_currency(advertise_prices[3], unit: '$')
            %li.description
              28+ consecutive days
            %li.bulletin-item


      %h4
        Sponsor prices
      .row
        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Day
            %li.price
              = number_to_currency(sponsor_prices[0], unit: '$')
            %li.description
              Less than 7 days
            %li.bulletin-item

        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Week
            %li.price
              = number_to_currency(sponsor_prices[1], unit: '$')
            %li.description
              7+ consecutive days
            %li.bulletin-item

        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Two Weeks
            %li.price
              = number_to_currency(sponsor_prices[2], unit: '$')
            %li.description
              14+ consecutive days
            %li.bulletin-item

        .small-24.medium-12.columns
          %ul.pricing-table
            %li.title
              Month
            %li.price
              = number_to_currency(sponsor_prices[3], unit: '$')
            %li.description
              28+ consecutive days
            %li.bulletin-item

      
  .row
    .small-24.columns
      %h4
        Note
      %p.content
        Advertisement images must be less than 64kb in size and prices are for a 24 hour period starting from the time you choose. So multiply the number of consecutive days with the price shown. Sponsors are for a day but they start from 00:00 on our server times. The time we provide is in UTC time. We also use dollars to make our pricing model as simple as possible.

  .row
    .small-24.columns
      %h3.title
        How it works

      .content
        %h4 Our system
        %p
          We've built a system that keeps evolving to keep up with the life of students. Unfortunately it doesn't run on water and neither do the programmers or the hardware we use. Since we are still in our infancy, you might feel we are a little pricy depening on where in the world you are but as time goes by you'll see that it actually good value for money. We basically address student issues in an digital way where students call the shots.

        %h4 Our pricing model
        %p
          We charge prices the way we do to prevent people from different institution from advertising to students that can't reach them as we want adverts to stay relevant to students. At the moment we don't count views, we show each advert to a logged in user for at least 3 minutes before changing it so views are irrelevant. We also use a round robin technique to try and keep make sure that all adverts are displayed evenly to users.

        %h4
          Advertisement vs Sponsor
        %p
          Advertisements are usually what you use to advertise products or services and cost less than sponsors. Sponsors are mainly for branding purposes but their sizes are a lot smaller as they are designed for "brands". In many cases there are more advertisements than sponsors. You can use the sponsor block to advertise a products if you can make it fit as it's up to you.

        %h4 Create your first advert
        %p
          Advertising involves creating an account if you don't have one then going to the advertise page (back here) using the link on the bottom right corner. Creating the advertisement or sponsor you wish to create and choosing when it should be displayed. The institution website required is the one used to determine the institution the advert should be displayed to and the number of consecutive days. Each institution you target has its own prices and discounts only work per institution depening the consecutive days advert should be shown for.
          
        %p
          Go to payments and pay using your credit card. We don't store you credit card details or do recuring payments. We just charge it that one time. We are working on other ways to pay such as going to the bank and using PayPal but right now, paying with your credit card is the only automated method we have in place. Once your payment has been processed, a button will appear that will allow you to activate you advert.

        %h4 Sizes
        %p
          %table
            %thead
              %tr
                %th
                  Type
                %th
                  Size

            %tbody
              %tr
                %td Advertisement
                %td 320x189
              %tr
                %td Sponsor
                %td 768x192

          These are the sizes that our system expects. How they will look will depend on the device the user is using. The provided sizes just ensure that the advert will resize correctly with our responsive layout. Advertisements will only be shown on tablets large enought to fit on a page like a desktop upwards while sponsors will be shown on all devices. We can have more than one sponsor/advertiser at any given time and we try rotate them as evenly as possible.

  .row
    .small-24.columns
      %h4
        Need help?

      Send us an email at advertise to bazido.com or ask one of our <a href="/users/1">admins</a> questions by sending them a private message.It should be straight forward enough though.
