@import '../colors';

.course-tag {
  $course-tag-border-width: 1px;
  font-size: 11px;
  background-color: $primary-color;
  color: #fff;
  float: left;
  margin: 4px 6px;
  padding: 4px 5px;
  // border-radius: 3px;
  border: $course-tag-border-width solid transparent;

  &:hover {
    background-color: #fff;
    border: $course-tag-border-width solid $primary-color;
    // font-weight: bold;
  }

  // & a:hover {
  //   color: $primary-color;
  //   font-weight: bold;
  // }

  &:active {
    // color: #fff;
    // text-decoration
  }
}

.course {

  &:hover {
    background-color: #f7f7f7;
    margin-bottom: 1px;
    border: {
      style: solid;
      width: 1px 0;
      color: gray;
    }
  }

  // margin: 4px;
  margin: -1px 4px;
  padding: 5px;
  border: {
    style: solid;
    width: 1px 0;
    color: #eaeaea; // transparent;
  }

  .title {
    font-size: 107%;
  }

  .controls {

    ul {
      float: right;
      font-size: 80%;
      padding: 0;
      margin: 0;

      li {

        list-style-type: none;
        padding: 0;
        float: left;
        margin: 4px;

      }

    }
  }

}
