.index-object {

  margin-top: -1px;
  padding: 5px 3px;

  border: {
    style: solid;
    color: #aeaeae;
    width: 1px 0;
  }

  .title {
    font-size: 107%;
  }

  &:hover {
    background-color: #fafafa;
  }

}

.question-stats {

  font-size: 88%;
  text-align: center;

}
