- if can? :respond, message
  .response-form
    = simple_form_for [message, response] do |f|

      = render '/shared/form_errors', f: f 

      = f.input :content, label: 'Message'

      = f.button :submit, 'Send'
