-# .row
.response-message
  .content.small-24.medium-24.columns
    = simple_format(h(response.content))
  .user.response-metadata.small-24.medium-24.columns
    .float-right
      = response.created_at.strftime('%e %b \'%y at %H:%M')
    .response-metadata.float-right
      &#8211;
    %a.response-metadata.float-right{href: user_path(response.user), title: h(response.user.profile.full_name)}
      .usename
        = user_refresh_name(response.user.profile)
  .clear
