%table{:width => '100%'}
  %thead
    %th
      Status
    %th
      Amount

  %tbody
    %tr
      %td
        Unpaid
      %td
        = number_to_currency(klass.owes(user), unit: '$')
    - if current_user.is_admin?
      %tr
        %td
          Paid
        %td
          = number_to_currency(klass.paid(user), unit: '$')

      %tr
        %td
          Total

        %td
          = number_to_currency(klass.invested(user), unit: '$')
   
