%table{width: '100%'}
  %thead
    %th
      Title
    %th
      Date Created
    %th
      Cost
    %th
      Paid

  %tbody
    - objects.each do |object|
      %tr
        %td
          = link_to h(object.title), object
        %td
          = object.created_at.strftime('%d %B %Y')
        %td.amount{:class => paid_status(object)}
          = number_to_currency(object.cost, unit: '$')
        %td
          -# TODO: Implement the way users can pay for advertising on the website
          - if object.paid
            Yes
          - elsif object.cost == 0.0 && current_user.profile.role != 'admin'
            No display date
          - else
            - if can? :activate, object
              = link_to 'Activate', [:activate, object], class: 'tiny primary button'
            - else
              Not enough credit
