.controls
  - if can? :activate, object
    = link_to 'Activate', [:activate, object]
  - if can? :edit, object
    = link_to 'Edit', [:edit, object]
  - if can? :destroy, object
    = link_to 'Delete', object, method: :delete, data: { confirm: 'Are you sure'}
