= append :left_menu do

  -# %ul.left-menu.side-nav.apps
  %ul.internal-apps.side-nav.apps
    -# %li
      = link_to forum_threads_label(current_user), forum_threads_path

    %li
      = link_to 'All threads', forum_threads_path
    .show-for-medium-up
      %li.divider

    - Forum::Thread.categories.each do |category|
      %li
        = link_to "##{category.humanize}", forum_threads_path(category: category)
    .clear
