-# = append :side_bar do
-#   = area :main_side_bar_advert do
-#     %h4
-#       An advert
-#   = area :side_bar_main_content

-#   = area :side_bar_secondary_content do
-#     %h4
-#       Daily Sponsor
