= render '/layouts/forum/left_menu'
= render '/layouts/forum/sub_menu'
= render '/layouts/forum/side_bar'

= append :head do
  = javascript_include_tag "forum/application"
  = stylesheet_link_tag    "forum/application"

-# = prepend :content do
  -# %hr

= render template: "layouts/application"
