= prepend :content_tabs do
  = render '/market/refreshes/filter_bar', index_link: 'market_path', search_link: nil

  - if @refreshables.length > 0
    = render partial: '/market/refreshes/refreshable', collection: @refreshables, as: 'refreshable'
  - else
    .empty-list
      Nothing to show

.pagination
  = paginate @refreshes
