.nested-fields
  = f.input :id, as: :hidden
  = f.input :show_at,  order: [:day, :month, :year], label: 'Show on', hint: 'UTC'
  = f.input :institution_website
  = f.input :consecutive_days, label: 'For (x) days'
  - if current_user.profile.role == 'admin'
    = f.input :free # , as: :check_boxes

  = link_to_remove_association 'Delete', f

