%tr
  %td
    = display_status(display)
  %td
    = display.show_at.strftime('%d %B %Y')
  %td
    = display.institution_website
  %td{title: "For #{display.consecutive_days} consecutive days"}
    - if display.free
      Free
    - else
      = "#{number_to_currency(display.cost, unit: '$')} x #{display.consecutive_days} "
      
