
%table{width: '100%'}
  %thead
    %tr
      %th
        Status
      %th{width: 195}
        Date
      %th{width: 170}
        Institution
      %th{width: 135}
        Cost

  %tbody
    = render object.displays.order(:show_at, :institution_website)

    %tr
      %td
      %td
      %td
        %td.amount{:class => paid_status(object)}
          = number_to_currency(object.cost, unit: '$')
