= append :left_menu do

  %ul.internal-apps.side-nav.apps
    - if current_user
      %li
        = link_to 'Advertisements', advertise_advertisements_path
      %li
        = link_to 'Payments', advertise_payments_path
      %li
        = link_to 'Sponsors', advertise_sponsors_path
    %li
      = link_to 'Pricing', advertise_pricing_path
    .clear
