= prepend :sub_menu do
  .sub_menu
    %ul
      %li
        = link_to '+Sponsor', new_advertise_sponsor_path, :class => 'tiny radius button'
      %li
        = link_to '+Payment', Pay.paypal_url(current_user,current_user.owes, advertise_payments_url, advertise_payments_url), :class => 'tiny radius button' # new_advertise_payment_path, 

      %li
        = link_to '+Advertisement', new_advertise_advertisement_path, :class => 'tiny radius button'
