= render '/layouts/advertise/left_menu'
= render '/layouts/advertise/sub_menu'
= render '/layouts/advertise/side_bar'

= append :head do
  = javascript_include_tag "advertise/application"
  = stylesheet_link_tag    "advertise/application"

-# = prepend :content do
  -# %hr

= render template: "layouts/application"
