= append :left_menu do

  %ul.internal-apps.side-nav.apps
    -# %li
      = link_to forum_threads_label(current_user), forum_threads_path
    
    %li
      = link_to 'Courses', learn_courses_path

    %li
      = link_to 'Joined', user_joined_courses_path(current_user)

    - if defined?(@course) && @course.persisted?

      %li
        = link_to 'Posts', learn_course_questions_path(@course)

      %li.divider
      - Learn::Question.categories.each do |category|
        %li
          = link_to "##{category.humanize.pluralize}", learn_course_questions_path(@course, category: category)

    - if current_user.cached_courses.any?
      %li.divider
        - current_user.cached_courses.each do |attendee|
          %li
            = link_to h(attendee.course.code), attendee.course


    .clear
