- if defined?(@course) && @course.persisted?
  - prepend :side_bar do
    .show-for-medium-up
      %h5.category-title{title: @course.name}
        = @course.code.upcase
      - if defined?(@question) &&  @question.persisted?
        %h5.category-title
          = @question.category.humanize.pluralize
      - elsif params[:category].present? && Learn::Question.categories.include?(params[:category])
        %h5.category-title
          = params[:category].downcase.humanize.pluralize


-# = append :side_bar do
-#   = area :main_side_bar_advert do
-#     %h4
-#       An advert
-#   = area :side_bar_main_content

-#   = area :side_bar_secondary_content do
-#     %h4
-#       Daily Sponsor
