= prepend :sub_menu do
  .sub_menu
    %ul
      - if defined?(@course) && @course.persisted?
        %li
          = link_to '+Post', new_learn_course_question_path(@course), :class => 'tiny radius button'

      - if controller_name == 'courses' 
        - if action_name == 'index'
          %li
            = link_to '+Course', new_learn_course_path, :class => 'tiny radius button secondary'

          %li
            = link_to '+Join', learn_courses_path, :class => 'tiny radius button'
