= render '/layouts/learn/left_menu'
= render '/layouts/learn/sub_menu'
= render '/layouts/learn/side_bar'

= append :head do
  = javascript_include_tag "learn/application"
  = stylesheet_link_tag    "learn/application"

-# = prepend :content do
  -# %hr

= render template: "layouts/application"
