/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require foundation_and_overrides
 *= require colors
 *= require prettify
 *= require site_structure
 *= require_tree ./foundation

 */
@import 'colors';

//The span used to display numbers for notifications
.notification-span {
  position: relative;
  background-color: green;
  margin: 0 1.4em 0 0;

  span {
    font-size: 11px;
    position: absolute;
    z-index: 10000;
    // margin-top: -27px;
    padding-left: 2px;
    top: -28px;
  }

}

//Using this to push content down
.top-margin {

  margin-top: 50px;

}

.left-side-bar i {
  font-size: 12px;
  margin-right: 7px;
}

i {

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 20px;
  }

  &.large {
    font-size: 26px;
  }

}

h4.title {

  color: $primary-color;
  font-size: 24px;
  border: {
    color: transparent transparent silver transparent;
    style: solid;
    width: 1px;
  }

}

.post-index-row {
  border: 1px solid gray;
  border-width: 1px 0;
  margin-bottom: -1px;
  padding:4px 0;
}

.center-content {

  text-align: center;

}

.small-label-text {
  font-size: 9px;
}

.content-preview {
  font-size: 14px;
}

.post {

  font-size: 16px; //16px;
  padding: inherit 2px;

}

// .sub-posts {
//   border: {
//     width:1px;
//     style: solid;
//     color: red transparent;
//   }
// }

.sub-posts-count {
  margin-top: 26px;
}

.sub-post {

 font-size: 16px; //16px; 
 padding: 6px 3px;
 margin-bottom: -1px;
 border: {
   width:1px;
   style: solid;
   color: #c0c0c0 transparent;
 }

}

ul.controls {

  padding: 0;
  margin: 0;
  // background-color: red;
  float: right;

  li {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
    font-size: 75%;
  }

}

.float-right {
  float: right;
}

.business-bar {
  position: absolute;
  bottom: -39px;
  right: 15px;

  ul {

    li {
      list-style-type: none;
      margin-right: 5px;
      font-size: 8pt;
      float: left;
    }
  }
}

.show-for-small-only {

  .apps {
    li {
      float: left;
    }
  }

}

.error {
  &, & .control-label {
    color: #fff;
  }

  background-color: #FF5959;

  small {
    font-size: 95%;
  }
}

.form-errors {
  small {
    font-size: 1em;
  }
}

textarea {
  height: 12em;
  max-width: 100%;
}

.left-menu {
  background-color: #008CBA;
  height: 100%;
}

.canvas {
  /* background-color: pink; */
}

.side-bar {
  /* background-color: orange; */
}

.clear {
  clear:both;
}

.sub_menu {

  ul {

    padding: 0;
    margin: 0;
    // background-color: lime;

    li {
      list-style-type: none;
      // background-color: purple;
      float: right;
      margin: 8px 5px;
      // padding: 0;

      a {
        margin: 0;
      }
    }

  }

}

.empty-list {

  border: solid 1px $primary-color;
  padding:15px;
  margin: 25px 10px;
  // margin-top: 10px;
  color: $primary-color;
  text-align: center;

  a {
    text-decoration: underline;
  }

}

.advertisable, .sponsorable {

  .title {
    font-size: 75%;
    margin-bottom: -8px;
    color: $primary-color;
    text-align: left;
  }

  padding: 3px 0;
  // background-color: yellow;

}

div.pagination {

  margin-top: 16px;
  margin-right: 4px;
  text-align: right;

}

.date {

  select  {
    // color: red;
    width: 88px;
  }

}
