code {

  border: solid 1px gray;
  overflow: auto;
  max-height: 200px;
  display: block;
  padding: 0.5em;

  pre.prettyprint {

    // background-color: yellow;
    border: none !important;

    // margin: 1em;
    // padding: 1.05em !important;

    // white-space: pre-wrap;
    // width: 95%;

    font-size: 93%;
    // padding: 1.1em !important;// 15px;
    line-height: 1.05em;
    // padding: 0 inherit;

    // /* Select span in pre of prettify outside paragraph tags*/
    // & span.pln:first-child, & span.pln:last-child {
    //   display: none;
    //   background-color: red;
    //   margin: 0;
    //   padding: 0;
    //   color: green;
    // }

  }
}
