// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.messages {
  margin-top: 30px;
}

.index-message {

  // font-size: 83%;
  padding: 5px 3px;
  font-weight: bold;
  color: black;
  // margin: -1px 0 -1px 0;

  border: {
    style: solid;
    width: 0 1px 1px 1px;
    color: #f6f6f6; //gray;
  }

  &:nth-child(1) {
    border-width: 1px;
  }

  &:hover {
    background-color: #f7f7f7; // #bcbcbc;
  }

  a {
    display: block;
    // color: #0b0b0b; // black;
  }

  .user {
  }

}

.read {
 
  // background-color: #eaeaea; // #edfbff; // #ced0d0; //#f7f7f7;
  a {
    color: gray;
  }

  font-weight: normal;

}


.message-title {

  // font-size: 133%;
  margin-bottom: 10px;
  color: $primary-color;

}
