// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.responses {
  margin: 5px 0;
}

.response-metadata {
  margin-right: 4px;
}

.response-message {
  
  position: relative;
  font-size: 16px;
  // font-size: 96%;
  // background-color: #edfbff; // #f0f0f0; // #ced0d0; //#f7f7f7;

  border: {
    style: solid;
    width: 1px;
    color: #ddd;
  }

  &:nth-child(2n) {
    background-color: #f6f6f6; //#edfbff; // #fdfdfd; // #eaeaea; // #e3e1e1; // #dcdcdc; // #e2e6e7;
  }

  // margin: 2px 0;
  margin-bottom: -1px;
  padding: 3px 2px;

  // margin-top: -1px;


  .content {
    // background-color: yellow;
  }

  .user {
    // background-color: red;
    margin-top: -15px;
    font-size: 88%;
  }

}
