// @import 'foundation_and_overrides';
@import 'colors';

html, body {
  min-height: 100%;
  font-size: 17px;
  // background-color: $background-color;
}

.canvas {
  .content {
    // font-size: 90%;
  }

}

body {
  position: relative;
}

* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;//Arial, Helvetica, sans-serif; //Georgia, Times, "Times New Roman";
}

.advertisement {
  .inner-advertisement {
    text-align: center;
  }
}

.sponsor {
  .inner-sponsor {
    text-align: center;
  }
}

$footer-height: 40px;

// body {
//   background-color: green;
// }

//Make only the first my-magellan invisible
  .magellan-holder > .my-magellan-container {
   // border: 4px solid red;
   display: none;
  }

  .magellan-holder > .my-magellan-container ~ .my-magellan-container {
   // border: 1px solid green;
   display: block; 
  }


//========================

.container {

  max-width: 1080px;
  margin: 0 auto;

  background-color: #fff; //silver; 
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -($footer-height);

  .inner-container {
    padding: 0;
    // padding-top: 60px;
  }

  .content {
    // background-color: purple;
  }

  .left-side-bar {
    // background-color: red;
    overflow-x: auto;
    width: 100%;
  }

  .middle-bar {
    // background-color: green;
    // overflow-x: auto;
    // background-color: #fff;
    // padding: 5px;
    // border-radius: 4px 4px 0 0;
  }

  .right-side-bar {
    font-size: 16px;
    // background-color: yellow;
    // overflow-x: auto;
  }

  .footer {
    // height: $footer-height;
    position: relative;
    // position: absolute;
    // bottom: 0;//$footer-height;
    // background-color: silver;
    padding: 0;
    margin: 0;
    border: {
      style: solid;
      width: 1px;
      color: #c0c0c0 transparent transparent transparent;
    }
    // text-align: center;

    .inner-footer {
      // height: 80%;
      font-size: 12px !important;
      position: relative;
      background-color: #fff;
      // margin-top: 4px; //20px;
      .footer-data {
        position: relative;
        // text-align: center;
      }
    }

  }

}
