// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
.file {
  // color: transparent;
}

.to_text {
  padding-top: 6px;
}

.center-text {
  text-align: center;
}

.display-picture {
  height: 100%;
  width: 100%;
}

//Best in place icon that controls public and private for a post
.user-info i {
  position: absolute;
  top: -6px;
  left: -27px;
  // padding-top: 9px;
  // margin-right: 5px;
}

.user-info {
  font-size: 13px;

  .index-details {
    font  :{
      size: 85.5%;
    }

    .names {
      font :{
        size: 107%;
      }
    }
  }
  .name {
    // color: yellow;
    padding-left: 3px;
    padding-top: 2px;
  }

  .datetime {
    // color: red;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
  }

  .mini-avatar-image {
    width: 100%;
    height: 100%;
  }

  .mini-avatar {

    margin-top: 3px;
    width: 32px;
    height: 32px;
    border: solid 1px $primary-color;
    background-color: $primary-color;
    font-size: 10px;

  }

  .user-controls {
    position: relative;
    margin-top: 9px;
    font-size: 12px;
  }

}


.user-post-block {

  font-size: 9.5pt;
  float: right;
  margin-right: 18px;
  margin-top: 6px;

  .user-controls {
    margin-right: 55px;
    padding-top: 8px;
  }

  .user-name, .user-created_at {
    margin: -2px 0 -2px 3px;
  }

  .float-left {
    float: left;
  }

}

.academics, .employments {

  h3 {
    margin: 10px 0 -4px 0;
    // color: red;
  }

}

.market {
  ul.field-row-list {
    list-style-type: none;
  }
}

.round-image {
  // border: {
  //   radius: 49%;
  // }
}

.alert-box {
  margin-top: 8px;
}

.basic-user-info {
  $bio-max-height: 280px;

  font :{
    size: 83%;
  }

  .field-row {
    margin: 7px 0;
    max-height: $bio-max-height+10px;
  }
  .bio {
    background-color: #f7f7f7;
    border: {
      color: #ddd;
      width: 1px;
      style: solid;
    }
    padding: 6px;

    height: $bio-max-height;
    overflow: auto;
  }

  &  p, .field-row {
    font :{
      size: 103%;
    }
  }

}

.about-user {

  border: 1px solid #c0c0c0;
  margin-bottom: -1px;
  border: {
    width: 1px 0;
  }
  padding: 3px 5px;

  .position {
    margin-left: -0.2em;
    font-size: 18px;
  }

  .title {
    font-size: 21px;
    border: {
      style: solid;
      width: 0 0 1px 0;
      color: #c0c0c0;
    }
  }

  .quick-description {
    font-size: 100%;
    padding: 4px;
    padding-left: 1.3em;
    border: {
      style: solid;
      width: 1px;
      color: transparent transparent transparent $primary-color;
    }
  }
}

.meta-info {
  $main-meta-info-padding: 6px;
  h4.title {
    float: left;
    padding: 2px;
    margin: 2px;
    // padding: -$main-meta-info-padding;
    // background-color: yellow;
  }

  .position {
    margin-top:4px;
    margin-left: -2px;
    padding: $main-meta-info-padding;
    float: left;
    // background-color: yellow;
  }

  .comment {
    background-color: #f7f7f7;
    padding: ($main-meta-info-padding/2) $main-meta-info-padding;
    border: {
      style: solid;
      color: #ddd;
      width: 1px 0;
    }
  }
}
