= simple_form_for sponsor do |f|
  = f.input :title, label: 'Title (For your convience)'
  = f.input :link, label: 'Link to (When clicked)'
  %label
    Sponsor
  = image_tag f.object.display.url(:small)
  = f.input :display, as: :file, label: false, input_html: {title: 'Shown as the sponsor'}
  %h5
    Dates
  .dates
    = f.simple_fields_for :displays do |display_builder|
      = render '/advertise/displays/display_fields', f: display_builder
      = link_to_add_association 'Add', f, :displays, partial: '/advertise/displays/display_fields'

  = f.button :submit
