.sponsorable
  .title
    Sponsored by:
  .inner-advertise
    %a{href: redirect_path(url: sponsor.link), target: :_blank}
      .display
        = image_tag sponsor.display.url(:small), alt: h(sponsor.alternative_text)
