%p
  Welcome #{@email}!
%p
  Thank you for choosing to use 
  = link_to 'BaziDo.com', root_url
  \.
%p
  Before we can allow you to start posting, we need you to confirm that you are the owner of this email and you are the one who registered for an account. Click on the link below to confirm and activate your account.

%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

%p
  If you did not sign up for the account, just ignore this message.
