.refreshable
  %h4.title
    = h(accommodation.title)
  .meta-data
    .label
      Location
    = h(accommodation.location)
  .meta-data
    .label
      Occupation
    - if accommodation.occupation_date.present?
      = h(accommodation.occupation_date.strftime('%e %B %Y'))
    - else
      Not given
  .images
    = render_refresh_images(accommodation.refresh.images, :small)
  .description
    = simple_format(h(accommodation.description))

= render '/market/refreshes/user', refreshable: accommodation, edit_path: [:edit, accommodation], delete_path: accommodation
