= simple_form_for accommodation do |f|
  = f.input :title
  -# - raise accommodation
  = f.simple_fields_for :refresh do |refresh_builder|
    = render '/market/refreshes/refresh_fields', f: refresh_builder

  = f.input :description, :input_html => {:maxlength => '450'}
  = f.input :deposit
  = f.input :rent
  = f.input :first_payment
  = f.input :location
  = f.input :occupation_date, as: :date
  = f.simple_fields_for :necessity do |necessity_builder|
    Minor Details
    = necessity_builder.input :furnished, :as => :boolean
    = necessity_builder.input :shared, :as => :boolean, :label => 'Half occupied'
    = necessity_builder.input :sharing, :as => :boolean, :label => 'Shareable'
    Rent includes?
    = necessity_builder.input :electricity, :as => :boolean
    = necessity_builder.input :water, :as => :boolean
    = necessity_builder.input :parking, :as => :boolean
    = necessity_builder.input :security, :as => :boolean, :label => 'Security guard'
    = necessity_builder.input :laundry, :as => :boolean
    = necessity_builder.input :rooms
    = necessity_builder.input :floor_area

  = f.button :submit, :class => 'tiny button'
