= prepend :side_bar_main_content do
  -# - cache [accommodation, 'side-bar'] do
  .row.side-bar-row
    .small-24.columns
      .status
        .inner-status{:class => render_refresh_status_color(accommodation)}
          - if cannot?(:update, accommodation)
            = render_refresh_status(accommodation)
          - else
            *
            = best_in_place_if can?(:update, accommodation), accommodation.refresh, :status, :as => :select, :collection => get_refresh_collection(accommodation)
  .row.side-bar-row
    .small-8.columns
      .label
        Rent
    .small-16.columns
      .value
        = number_to_currency(accommodation.rent)
  
  .row.side-bar-row
    .small-8.columns
      .label
        Deposit
    .small-16.columns
      .value
        = number_to_currency(accommodation.deposit)

  .row.side-bar-row
    .small-8.columns{:title => 'Might include other fees. Check description'}
      .label
        Total
    .small-16.columns
      .value
        = number_to_currency(accommodation.first_payment)
  = render '/market/refreshes/contacts', refreshable: accommodation, the_message_path: market_accommodation_messages_new_path(accommodation)

= append :side_bar_secondary_content do

  .includes
    %h5
      Includes

    .row.side-bar-row
      .small-15.columns
        .label
          Electricity
      .small-9.columns
        .value
          = t(accommodation.necessity.electricity.class)

    .row.side-bar-row
      .small-14.columns
        .label
          Water
      .small-9.columns
        .value
          = t(accommodation.necessity.water.class)

  .has

    %h5
      Has

    .row.side-bar-row
      .small-14.columns
        .label
          Rooms
      .small-9.columns
        .value
          = accommodation.necessity.rooms

    .row.side-bar-row
      .small-14.columns
        .label
          Floor area
      .small-9.columns
        .value
          = accommodation.necessity.floor_area

    .row.side-bar-row
      .small-14.columns
        .label
          Parking
      .small-9.columns
        .value
          = t(accommodation.necessity.parking.class)

    .row.side-bar-row{:title => 'Security guard is present at property at all times'}
      .small-14.columns
        .label
          Guard
      .small-9.columns
        .value
          = t(accommodation.necessity.security.class)

    .row.side-bar-row
      .small-14.columns
        .label
          Laundry
      .small-9.columns
        .value
          = t(accommodation.necessity.laundry.class)

  %h5
    Minor Details

  .row.side-bar-row
    .small-14.columns
      .label
        Furnished
    .small-9.columns
      .value
        = t(accommodation.necessity.furnished.class)

  .row.side-bar-row{:title => 'Someone is already staying here'}
    .small-14.columns
      .label
        Shared
    .small-9.columns
      .value
        = t(accommodation.necessity.shared.class)

  .row.side-bar-row
    .small-14.columns
      .label
        Sharing
    .small-9.columns
      .value
        = t(accommodation.necessity.sharing.class)
