= prepend :content_tabs do
  = render '/market/refreshes/filter_bar', index_link: 'market_accommodations_path', search_link: 'search_market_accommodations_path'

  - if @accommodations.length > 0
    = render :partial => '/market/refreshes/refreshable', :collection => @accommodations, :as => 'refreshable'
  - else
    No accommodations
  = paginate @accommodations
