= prepend :content_tabs do
  = render '/market/refreshes/filter_bar', index_link: 'search_market_accommodations_path', search_link: 'search_market_accommodations_path'

= render '/market/refreshes/search_form', search_link: 'search_market_accommodations_path', options_array: [['All', 'all']], search_title: 'Accommodation search...'


- if @accommodations.length > 0
  = render partial: '/market/refreshes/refreshable', collection: @accommodations, as: 'refreshable'
- else
  No accommodations
= paginate @accommodations
