.big-separator {
  padding: 3px 0;
  margin: 17px 0;
  border: {
    style: solid;
    color: #ddd;
    width: 1px 0;
  }
}

.display {
  margin: 6px 0;
  border: solid 2px transparent;
}

.mobile {

}

