.row
  .small-24.columns
    = simple_form_for transaction, url: advertise_payments_path do |f|

      = render '/shared/form_errors', f: f

      .row
        .small-17.columns
          - if transaction.amount.nil? && current_user.credits < 0
            = f.input :amount, input_html: {:value => current_user.credits.abs, min: 0}
          - else
            = f.input :amount, label: 'Amount (USD)', input_html: {:min => 0}
        .small-7.columns
          = f.input :card_type, as: :select, collection: [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], include_blank: false

      .row
        .small-12.columns
          = f.input :first_name
        .small-12.columns
          = f.input :last_name
      = f.input :card_number, input_html: {:title => 'Use separators if you wish. Will strip them out'}, label: 'Card number (You can use separators. Spaces or dashes. etc)'
      .row
        .small-6.columns
          = f.input :month, as: :select, collection: (1..12).to_a, include_blank: false
        .small-6.columns
          = f.input :year, as: :select, collection: ((Time.now.year)..(12.years.from_now.year)).to_a, include_blank: false
        .small-5.columns
      .row
        .small-6.columns
          = f.input :verification_value, label: 'CCV', input_html: {:title => 'Usually the last 3 digits near your signature on your card'}

      = f.button :submit, 'Pay'
