/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.necessity-row {

  margin: 6px 0;

  .label {
    float:left;
    margin-right: 3px;
  }

  .value {
    float: left;
  }

}
