/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * *= require_tree .
 *= require_self
 */
@import '../colors';
.position-achor {
  margin-top: 50px;
}

.best_in_place i {
  color: $primary-color !important;
}

.best_in_placeable {

  font-size: 86%;
  margin-right: 10px;
  margin-top: 14px;

  .best_in_place{
    // text-decoration: underline;
    color: $primary-color;
  }

  select {
    width: 75%;
    padding: 4px;
  }

  .best_in_place::before {
    content: '[';
  }

  .best_in_place::after {
    content: ']';
  }

}

.refreshable {

  padding-bottom: 5px;
  .meta-data {
    margin-bottom: 2px;

    .label {
      width: 70px;
    }
  }

  .images {

    margin: 22px 0;

    padding: 20px 10px;
    border: {
      style: solid;
      width: 1px; // 0;
      color: #ddd;
    }

    .refresh-thumbnails {
      // border: 2px red solid;
      width: 128px;
      height: auto;
    }
  }

  .title {
    // color: red;
    // font-size: 24px;
  }

  .location {
    margin: 5px 0;
  }

  .description {
    margin: 5px 0;
  }

}

.refreshable-title {
  padding-right: 16px;
}

.type-label {
  position: absolute;
  top: -2px;
  right: 14px;

  // i {
  //   color: green; //$primary-color !important;
  // }
  // font: {
  //   size: 9.5pt;
  // }

  // border: {
    // color: #ddd;
    // style: solid;
    // width: 0 0 1px 1px;
  // }


  background: {
    color: transparent; //#fff;
  }

  margin: {
    top: -1px;
  }
}

.filter-tabs {

  margin: 0;
  margin-top: 10px;
  padding: 0;

  

  li {

    a {
      color: $primary-color;
    }

    list-style-type: none;
    float: left;
    margin: 4px 4px -2px 4px;
    padding: 3px 6px;

    &:hover {
      background-color: $primary-color; //#6B98B3;
      color: #fff;
    }

    &.active, &.active:hover {
      // background-color: $primary-color;
      // color: #fff;
      border: {
        style: solid;
        width: 1px 1px 2px 1px;
        color: $primary-color $primary-color #fff $primary-color;
      }
      color: $primary-color;

    }

    &:hover a {
      color: #fff;
    }

  }

}

.filter-tabs-base {

  height: 1px;
  background-color: $primary-color;
  margin-bottom: 12px;

}

.right-side-bar {

  font-size: 90%;
  
  .extras {
    font-size: 87%;

    .label {
      font-size: 90% !important;
    }

  }

  .label {
    background-color: transparent !important;
    color: $primary-color !important;
    font-size: 100% !important;
  }

}
