/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.book {

  .label-row {

    margin: 4px 5px 0 0;

    .label {
      float: left;
    }

    .value {
      float: left;
    }

  }

}

.listed-courses {
  padding: 0 16px;
  font-size: 85%;
  // background-color: red;
}
