/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.contact {

  $font-size: 109%;

  .internal_name {
  }

  .name {

    // float: left;
    // min-width: 70px;
    // margin-right: 3px;
    font-size: $font-size + 2%;
  }

  .content {

    margin-left: 9px;
    font-size: $font-size;
    margin-bottom: 4px;
    word-wrap: break-word;
    // float: left;

  }

}
