.side-bar {
  p, div {
    font-size: 96%;
  }

  .side-bar-row {
    margin: 4px 0;
  }
}

.display-picture {
  padding-bottom: 5px;
}

// .refreshable {

//   .description {

//   }

// }

.green-status {color: #22cf06 !important;}
.green-status-background {background-color: #22cf06;}
.orange-status {color: #ff8000 !important;}
.orange-status-background{background-color: #ff8000;}
.red-status {color: #f93434 !important;}
.red-status-background {background-color: #f93434;}


.right-side-bar {

 .status {

   position: relative;

   .inner-status {
    margin: 4px 0;
    padding: 15px;
    text-align: center;
    color: #fff;
   }

 }

}

.refresh-index-image {
    
  // width: 256px;
  // height: 96px;
  // background-color: red;
  margin: 5px;
  font-size: 8.5pt;

  img {
    width: 100%;
    height: 100%;
  }

}

.index-refreshable {

  &:hover > .row {

    background-color: #f7f7f7;

  }

  & .row {
    padding-bottom: 5px;
  }

  border: 1px solid #ddd;
  border-width: 1px 0 1px 0;
  margin: 2px 0;

  .refreshable-title {
    padding-right: 18px;
    // font: {
    //   size: 16pt;
    // }
  }
}

.amount {
  color: green;
  font-weight: bold;
}

.paid {
  //Just a placeholder for the time i would like to style a object that has been paid for
}

.unpaid {
  color: red !important;
}

.refresh-controls {

  margin: {
    top: 15px;
  }

  font :{
    size:84%;
  }

  .refresh-links {

    margin: {
      bottom: 10px;
    }

  }

  .refresh-link {

    &:hover {
      text: {
        decoration: underline;
      }
    }

  }

}

$upload-preview-image-width: 128px;
$upload-preview-image-height: 128px;
.refresh-upload-preview {
  width: $upload-preview-image-height;
  height: $upload-preview-image-height;
  max-height: $upload-preview-image-height;
}

.pictures {
  // background-color: yellow;
  margin: 15px 0 20px 0;
  .clear {
    padding-top: 35px;
    // background-color: red;
  }
}

.links {
  // .clear {
  //   padding-top: 35px;
  //   // background-color: red;
  // }
  padding-bottom: 15;
  // a {
  //   float: left;
  // }
}

.refresh-image {
  position:relative;
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  margin: 17px 6px;
  width:$upload-preview-image-width !important;
  height:$upload-preview-image-width !important;
  float:left;
}

.nested-fields {
  a.close {
    position: absolute;
    color: red !important;
    top: 0;
    right: 8px;
    // background-color: red;
  }

  input[type=file] {
    color: transparent;
  }


}
