- if refreshable.refresh.is_available? || refreshable.refresh.is_open?
  .row
    .small-24.columns
      %h5
        Contact
  .row
    .small-24.columns
      - if refreshable.refresh.contacts.none?
        .status
          .inner-status.red-status-background{:title => 'It maybe in the description'}
            Contacts not given
      - else
        = render refreshable.refresh.contacts.order(name: :ASC).limit(3)
  - if can? :message, refreshable
    .row
      .small-24.columns
        = link_to 'Private Message', the_message_path, class: 'expand primary button'
