%ul.filter-tabs
  - if defined?(user_market_link) == nil
    %li{:class => filter_tab_active(params[:filter], 'freshest')}
      = link_to 'Freshest', send(index_link, query: params[:query], page: params[:page], field: params[:field])
    %li{:class => filter_tab_active(params[:filter], 'newest')}
      = link_to 'Newest', send(index_link, filter: 'newest', query: params[:query], page: params[:page], field: params[:field])
    %li{:class => filter_tab_active(params[:filter], 'expired')}
      = link_to 'Expired', send(index_link, filter: 'expired', query: params[:query], page: params[:page], field: params[:field])
    %li{:class => filter_tab_active(params[:filter], 'non')}
      = link_to 'Non-Available', send(index_link, filter: 'non_available', query: params[:query], page: params[:page], field: params[:field])
    - if search_link.present? && action_name != 'search'
      %li{:class => filter_tab_active(params[:filter], 'search')}
        = link_to '<i class="fi-magnifying-glass"></i>'.html_safe, send(search_link,filter: params[:filter])
  - else
    - index_link = 'market_user_path'
    %li{:class => filter_tab_active(params[:filter], 'freshest')}
      = link_to 'Freshest', send(index_link, user, query: params[:query], page: params[:page], field: params[:field])
    %li{:class => filter_tab_active(params[:filter], 'newest')}
      = link_to 'Newest', send(index_link, user, filter: 'newest', query: params[:query], page: params[:page], field: params[:field])
    %li{:class => filter_tab_active(params[:filter], 'expired')}
      = link_to 'Expired', send(index_link, user, filter: 'expired', query: params[:query], page: params[:page], field: params[:field])
    %li{:class => filter_tab_active(params[:filter], 'non_available')}
      = link_to 'Non-Available', send(index_link, user, filter: 'non_available', query: params[:query], page: params[:page], field: params[:field])
  .clear
.filter-tabs-base
