.refresh
  = f.input :status, :as => :select, :collection => Market::Refresh.statuses(f.object), :include_blank => false
  = f.input :is_public, :as => :boolean, :label => 'Publish now'#, :input_html => {:checked => true}
  .refresh-contacts
    - if Market::Contact.for(current_user).length > 0
      %h5
        Contacts
      -# Load the owner of this item in case the user is not the owner
      - if f.object.user != nil
        - owner = f.object.user
      - else
        - owner = current_user
      -# ================================================

      = f.association :contacts, :as => :check_boxes, :collection => Market::Contact.for(owner), label: false
    - else
      .empty-list
        = link_to 'Add a contact', market_contacts_path
        first, we'll make it easy to see

  .pictures
    .picture-title
      %h5
        Pictures
    = f.simple_fields_for :images do |image_builder|
      = render '/market/images/image_fields', f: image_builder
    .links.image-links
      .clear
      = link_to_add_association 'Add', f, :images, :partial => '/market/images/image_fields'
