%a{:id => get_refreshable_id(refreshable)}
.post-index-row
  .row
    .small-24.columns
      .row

        .small-4.columns
          - if refreshable.refresh.images.any?
            = image_tag refreshable.refresh.images[0].display(:refresh_preview), class: 'refresh-index-image'
          - else
            = image_tag refreshable.refresh.images.build.display.url(:refresh_preview), class: 'refresh-index-image'

        .small-20.columns
          .row
            .small-24.columns
              %h5.refreshable-title
                = link_to h(shorten_refresh_title(refreshable.title)), refreshable
              .type-label{title: get_refresh_type(refreshable), class: render_refresh_status_color(refreshable, true)}
                = get_refresh_type(refreshable, true).html_safe
            .small-offset-15.small-9.columns
              .amount
                = number_to_currency(refreshable.to_amount)

  = render '/market/refreshes/user', refreshable: refreshable, edit_path: [:edit, refreshable], delete_path: refreshable
