.search-form
  = form_tag send(search_link, filter: params[:filter]), method: :get do |f|
    .row.collapse
      .small-16.columns
        = text_field_tag :query, nil, value: params[:query], placeholder: search_title
      .small-4.columns
        = select_tag :field, options_for_select(options_array, params[:field].to_s)
      .small-4.columns
        = submit_tag 'Search', value: 'Search', class: 'button postfix radius'
