= image_tag refreshable.refresh.user.profile.avatar(:small)
= link_to h(user_refresh_name(refreshable.refresh.user.profile)), refreshable.refresh.user, :title => h(refreshable.refresh.user.profile.full_name)
.time{:title => refresh_changes(refreshable)}
= refreshable.refresh.created_at.strftime('%e %b \'%y at %H:%M')
