.row
  .user-info
    .medium-11.right.columns
      .row.collapse
        .small-5.large-4.columns
          .mini-avatar
            = image_tag refreshable.refresh.user.profile.avatar(:small), class: 'mini-avatar-image', alt: 'Avatar'

        .small-19.large-20.columns
          .row.collapse
            .small-24.columns
              .name
                = link_to h(truncate(user_refresh_name(refreshable.refresh.user.profile), length: 18)), refreshable.refresh.user, :title => h(refreshable.refresh.user.profile.full_name)
            .small-24.columns
              .datetime{:title => refresh_changes(refreshable)}
                = refreshable.refresh.created_at.strftime('%e %b \'%y at %H:%M')

    .medium-offset-3.medium-10.right.columns
      .user-controls
        - if can? :update, refreshable
          = best_in_place_if can?(:update, refreshable),refreshable.refresh, :is_public, :as => :checkbox, :collection => ['<i class="fi-lock medium" title="Private"></i>'.html_safe, '<i class="fi-web medium" title="Public"></i>'.html_safe]

        - if can? :refresh, refreshable.refresh
          = link_to 'Bump', [:refresh, refreshable.refresh], :class => 'refresh-link'
          |
        - if can? :edit, refreshable
          = link_to 'Edit', [:edit, refreshable], :class => 'refresh-link'
          |
        - if can? :destroy, refreshable && action_name == 'show'
          = link_to 'Delete', refreshable, method: :delete, :data => {:confirm => 'Are you sure?' }, :class => 'refresh-link'

