= simple_form_for thread do |f|

  = render '/shared/form_errors', f: f

  = f.input :title
  = f.input :category, collection: Forum::Thread.categories(true), include_blank: false
  = f.input :content

  - if can? :moderate, thread
    = f.input :status, collection: Forum::Thread.statuses(true), include_blank: false
    = f.input :reason

  - if thread.id == nil
    = f.button :submit, 'Say it'
  - else
    = f.button :submit, 'Update Post'
