= thread.title
= h(truncate(user_refresh_name(thread.comments.last.user.profile), length: 15))
= link_to "#{h(truncate(user_refresh_name(thread.user.profile), length: 18))}", thread.user, :title => h(thread.user.profile.full_name)
= thread.created_at.strftime('%e %b \'%y at %H:%M')
= thread.comments.count
