- if threads.any?
  .index-threads
    %table{:width => '100%'}
      %thead
        %tr
          %th
            Title
          %th
            Replies
          %th
            Most recent
      %tbody
        - threads.each do |thread|
          %tr{class: forum_thread_status(thread)}
            %td
              = link_to h(thread.title), thread
            %td
              = h(thread.cached_visible_comment_count)
            -# %td
              = thread.created_at.strftime('%e %b \'%y at %H:%M')
            %td
              .row
                .small-24.columns
                  - if thread.cached_visible_comment_count > 0
                    = link_to h(truncate(user_refresh_name(thread.comments.last.user.profile), length: 18)), thread.comments.last.user, :title => h(thread.comments.last.user.profile.full_name) 
                  - else
                    = link_to h(truncate(user_refresh_name(thread.user.profile), length: 18)), thread.user, :title => h(thread.user.profile.full_name)

                .small-24.columns
                  = thread.updated_at.strftime('%d %b \'%y at %H:%M')

    .pagination
      = paginate(threads)

- else
  .empty-list
    No threads to show
