- prepend :side_bar do
  %h4.title
    = link_to thread.category.humanize, forum_threads_path(category: thread.category)

%h4.title
  = h(thread.title)
.post
  = simple_format(h(thread.content))
  = render '/shared/user', object: thread, edit_path: edit_forum_thread_path(thread), delete_path: forum_thread_path(thread)

  %h5.sub-posts-count
    = "#{pluralize(comments.where(status: 'visible').count, 'response')}"
  - if thread.cached_visible_comment_count > 0
    .sub-posts
      = render comments

  - else
    .empty-list
      No responses yet.
  - if can? :comment, @thread
    .sub-post-form
      = render '/forum/comments/form', empty_comment: empty_comment, path: forum_thread_comments_path(@thread)
  - else
    - if !thread.reason
      Thread closed by original poster
    - else
      Thread closed:
      = h(thread.reason)

