- if action_name == 'watching'
  %h4
    Threads you are watching
-# - elsif action_name == 'index' && params[:category].present?
  %h4
    = "Category: #{params[:category].humanize}"
- elsif action_name == 'index'
  %h4
    All threads ever posted

-# Show the category in the top right corner if it's there
- if params[:category].present?
  - if Forum::Thread.categories.include?(params[:category])
    - prepend :side_bar do
      %h5.category-title
        = params[:category].humanize

    -# - prepend :content do
      %h5
        = params[:category].humanize

  - else
    - prepend :side_bar do
      %h5.category-title
        Unknown
-# ======================================================

= render '/forum/threads/table', threads: @threads
