= prepend :footer do
  - cache do
    .footer
      .inner-footer
        -# %hr
        .row
          .small-24.columns
            .footer-data
              = "WASF  &copy; #{Date.today.strftime('%Y')}".html_safe
              .clear
            .business-bar
              %ul
                -# %li
                  = link_to 'About', about_path
                %li
                  = link_to 'Advertise', advertise_pricing_path
                %li
                  = link_to 'Privacy', terms_and_privacy_path(anchor: 'privacy')
                %li
                  = link_to 'Terms', terms_and_privacy_path(anchor: 'terms')
                .clear
