= append :left_menu do
  .top
    = area :top_left_menu 

  .apps
    %ul.side-nav.apps
      - if (!current_user.nil? && (current_user.profile.has_payment == true || current_user.cached_profile_role == 'admin')) || (params['controller'] =~ /^advertise/) == 0
        %li
          = link_to '<i class="fi-projection-screen"></i>Advertise'.html_safe, advertise_advertisements_path
      %li
        = link_to '<i class="fi-comment"></i>Forum'.html_safe, forum_threads_path
      %li
        = link_to '<i class="fi-shopping-cart"></i>Market'.html_safe, market_path

      -# - if current_user && current_user.is_admin?
      - if current_user
        %li
          = link_to '<i class="fi-page-multiple"></i>Academic'.html_safe, questions_learn_courses_path # user_joined_courses_path(current_user)
      .clear


