= append :side_bar do
  = area :main_side_bar_advert do
    -# %h4
      -# Daily Sponsor 1
    .advertisement
      .inner-advertisement
        - if @loaded_advertisement.present?
          = render '/advertise/advertisements/advertisement', advertisement: @loaded_advertisement

  = area :side_bar_main_content

  = area :side_bar_secondary_content do
    -# %h4
      An advert
    .sponsor
      .inner-sponsor
        - if @loaded_sponsor.present?
          = render '/advertise/sponsors/sponsor', sponsor: @loaded_sponsor
