= prepend :top_menu do
  .fixed.contain-to-grid
    %nav.top-bar{:data => {:topbar => ''}}
      %ul.title-area
        %li.name
          %h1
            = link_to 'BaziDo', root_path
        %li.toggle-topbar.menu-icon
          %a{:href=>'#'}
            %span

      %section.top-bar-section
        %ul.right
          - if current_user
            %li
              = link_to forum_threads_label(current_user,'Threads'), watching_forum_threads_path, title: current_user.cached_forum_threads_notifications_count
              -# = link_to "<i class='fi-eye large'></i>".html_safe, watching_forum_threads_path

            %li
              = link_to messages_label(current_user), messages_path, title: current_user.cached_message_notifications_count
            %li.has-dropdown
              -# = link_to 'Search', market_path
              = link_to '<i class="fi-magnifying-glass medium"></i>'.html_safe, market_path
              %ul.dropdown
                %li
                  = link_to 'Accommodations', search_market_accommodations_path(filter: params[:filter])
                %li
                  = link_to 'Books', search_market_books_path(filter: params[:filter])
            %li.has-dropdown
              = link_to  short_name(current_user), user_path(current_user)
              %ul.dropdown
                %li
                  = link_to 'My Market', market_user_path(current_user)
                %li
                  = link_to 'Joined', user_joined_courses_path(current_user)
                %li
                  = link_to 'Contact Info', market_contacts_path

                %li.divider
                %li
                  = link_to 'Edit Profile', edit_user_path(current_user)
                %li
                  = link_to 'Edit Account', edit_user_registration_path
            %li.divider
            %li
              = link_to "Logout", destroy_user_session_path, :method => :delete
          - else
            %li
              = link_to 'Create Account', new_user_registration_path
            %li.divider
            %li
              = link_to 'Login', new_user_session_path

