!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "BaziDo"
    = area :head do
      = javascript_include_tag "application"
      = stylesheet_link_tag    "application"
      = analytics_init if Rails.env.production?
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    
    = render '/layouts/left_menu'
    = render '/layouts/top_menu'
    = render '/layouts/footer'

    .top-menu
      = area :top_menu

    .container

      .inner-container
        .row

          .medium-24.columns.canvas

            .content
              = area(:content) do
                .row
                  .small-24.columns
                    - if flash[:alert]
                      .alert.alert-box.warning
                        = alert
                    - if flash[:notice]
                      .notice.alert-box.info
                        = notice
                = yield

      -# .footer.small-24.columns
        = area :footer
    = javascript_include_tag "delayed_scripts"
