!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "BaziDo"
    = area :head do
      = javascript_include_tag "application"
      = javascript_include_tag "market/images"
      = stylesheet_link_tag    "application"
      = analytics_init if Rails.env.production?
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    
    = render '/layouts/left_menu'
    = render '/layouts/top_menu'
    = render '/layouts/side_bar'
    = render '/layouts/footer'

    .top-menu
      = area :top_menu

    .container


      .inner-container
        .row
          .medium-5.large-4.columns
            .left-side-bar
              .inner-left-side-bar
                = area :left_menu

          .medium-19.large-20.columns
            .middle-bar
              .main_sub_menu
                = area :sub_menu do
                  .clear

              .content
                = area(:content) do
                  = area(:content_tabs)
                  .dialog-box
                    - if flash[:alert].present?
                      .alert.alert-box.warning{data: {alert: ''}}
                        = alert
                        %a.close
                          &times;
                    - if flash[:notice].present?
                      .notice.alert-box.info{data: {alert: ''}}
                        = notice
                        %a.close
                          &times;
                  .inner-content
                    = yield



    = javascript_include_tag "delayed_scripts"
